   <!-- footer
   ================================================== -->
   <footer>

    <div class="footer-main">

      <div class="row">  

          <div class="col-four tab-full mob-full footer-info">            

              <h4>{{ site.title }}</h4>

                 <p>{{ site.description }}</p>

          </div> <!-- end footer-info -->

          <div class="col-two tab-1-3 mob-1-2 site-links">

            <h4>Site Links</h4>

          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://chat.tigefa.space">Chat</a></li>
            <li><a href="https://tigefa.space">Tigefa</a></li>
          </ul>

          </div> <!-- end site-links -->  

          <div class="col-two tab-1-3 mob-1-2 social-links">

            <h4>Social</h4>

          <ul>
            <li><a href="https://twitter.com/sugeng_tigefa"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/tigefa.dev"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.youtube.com/user/tigefasugeng"><i class="fa fa-youtube"></i> Youtube</a></li>
            <li><a href="https://plus.google.com/+tigefasugeng"><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href="https://github.com/tigefa4u"><i class="fa fa-github"></i> Github</a></li>
          </ul>
                      
          </div> <!-- end social links --> 

          <div class="col-four tab-1-3 mob-full footer-subscribe">

            <h4>Subscribe</h4>

            <p>Keep yourself updated. Subscribe to our newsletter.</p>

            <div class="subscribe-form">
          
              <form id="mc-form" class="group" novalidate="true">

              <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required=""> 
        
              <input type="submit" name="subscribe" >
        
              <label for="mc-email" class="subscribe-message"></label>
      
            </form>

            </div>            
                      
          </div> <!-- end subscribe -->         

        </div> <!-- end row -->

    </div> <!-- end footer-main -->

      <div class="footer-bottom">
        <div class="row">

          <div class="col-twelve">
            <div class="copyright">
              <span>&copy; 2016 {{ site.title }}</span> 
              <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>              
             </div>

             <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
             </div>         
          </div>

        </div> 
      </div> <!-- end footer-bottom -->  

   </footer>

<div id="preloader"> 
  <div id="loader"></div>
</div>

<script src="{{ "/js/jquery-2.1.3.min.js" | relative_url }}"></script>
<script src="{{ "/js/plugins.js" | relative_url }}"></script>
<script src="{{ "/js/main.js" | relative_url }}"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik-tigefa.rhcloud.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik-tigefa.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
