<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="generator" content="Jekyll v{{ jekyll.version }}">

  <link rel="stylesheet" href="{{ "/css/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/vendor.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <script src="{{ "/js/modernizr.js" | relative_url }}"></script>
  <script src="{{ "/js/pace.min.js" | relative_url }}"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
