  <!-- header 
   ================================================== -->
   <header class="short-header">   

    <div class="gradient-block"></div>  

    <div class="row header-content">

      <div class="logo">
           <a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      </div>

      <nav id="main-nav-wrap">
        <ul class="main-navigation sf-menu">
          <li><a href="{{ "/" | relative_url}}" title="Home">Home</a></li>
          {% for my_page in site.pages %}{% if my_page.title %}
          <li><a href="{{ my_page.url | relative_url }}" title="{{ my_page.title | escape }}">{{ my_page.title | escape }}</a></li>
          {% endif %}{% endfor %}
        </ul>
      </nav> <!-- end main-nav-wrap -->

      <div class="search-wrap">
        
        <form role="search" method="get" class="search-form" action="#">
          <label>
            <span class="hide-content">Search for:</span>
            <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
          </label>
          <input type="submit" class="search-submit" value="Search">
        </form>

        <a href="#" id="close-search" class="close-btn">Close</a>

      </div> <!-- end search wrap --> 

      <div class="triggers">
        <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
        <a class="menu-toggle" href="#"><span>Menu</span></a>
      </div> <!-- end triggers -->  
      
    </div>        
    
   </header> <!-- end header -->
