<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="top">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
