---
layout: default
---

   <!-- masonry
   ================================================== -->
   <section id="bricks" class="with-top-sep">
    <div class="row masonry">
      <!-- brick-wrapper -->
         <div class="bricks-wrapper">
          <div class="grid-sizer"></div>
          {% for post in site.posts %}
          <article class="brick entry animate-this">
               <div class="entry-thumb">
                  <a href="{{ post.url | relative_url }}" class="thumb-link">
                    {% if post.image.teaser %}<img src="{{ post.thumbnails }}" alt="{{ post.title | escape }}">{% else %}<img src="/images/thumbnails.jpg" alt="{{ post.title | escape }}">{% endif %}
                  </a>
               </div>

               <div class="entry-text">
                <div class="entry-header">

                  <div class="entry-meta">
                    <span class="cat-links">
                      {{ post.categories }}                       
                    </span>     
                  </div>

                  <h1 class="entry-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
                  
                </div>
            <div class="entry-excerpt">
              {{ post.excerpt | strip_html | truncate: 160 }}
            </div>
               </div>
            </article> <!-- end article -->{% endfor %}
         </div> <!-- end brick-wrapper -->  
    </div> <!-- end row -->
    </section> <!-- end bricks -->
