---
layout: default
---

   <!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
   	<div class="row">
   		<div class="col-twelve">

   			<section>  

					<div class="primary-content">
					<h1 class="entry-title add-bottom">{{ page.title | escape }}</h1>
					{{ content }}
					</div>						

			</section>  		

		</div> <!-- end col-twelve -->
   	</div> <!-- end row -->
		
   </section> <!-- end content -->

