---
layout: default
---
   <!-- content
   ================================================== -->
   <section id="content-wrap" class="blog-single">
    <div class="row">
      <div class="col-twelve">
        <article class="format-standard">  
          <div class="primary-content">
            <h1 class="page-title">{{ page.title }}</h1>  
            <ul class="entry-meta">
              <li class="date">{{ page.date | date_to_long_string }}</li>            
              <li class="cat">{{ page.categories }}</li>        
            </ul>

    {{ content }}

        </article>
      </div> <!-- end col-twelve -->
    </div> <!-- end row -->

    <div class="comments-wrap">
      <div id="comments" class="row">
        <div class="col-full">
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

          </div> <!-- end col-full -->
         </div> <!-- end row comments -->
    </div> <!-- end comments-wrap -->

   </section> <!-- end content -->
